.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 120px;
}

profile__actions {
  display: flex;
}

.btn-new {
  width: 100%;
}

.btn-new {
  background: #98fb98;
  color: var(--danger);
}

.btn-new:hover {
  background: #00fa9a;
  color: var(--danger-hover);
}
