nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 2px solid var(--border-color);
  background: linear-gradient(
    180deg,
    var(--background-color-light) 0%,
    var(--background-color-dark) 100%
  );

  color: var(--accent-color, purple);
}

svg {
  fill: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
